.toolbar {
  background-color: #181515de;
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 17px;
  align-items: center;
  text-align: center;
}

.toolbar span{
  color: #ff1493;
  font-weight: bold;
  align-items: center;
  text-align: center;
}

ul {
  display: flex;
  gap: 25px;
  list-style-type: none;
  cursor: pointer;
}

li:hover {
  opacity: 0.8;
}
